/*============================================================================== 
    iPhone 4 and 4S || 320 x 480 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
    and (max-width: 480px){
}

@media only screen and (min-width: 320px) 
    and (max-width: 480px) and (orientation: portrait) {
}

@media only screen and (min-width: 320px) 
    and (max-width: 480px) and (orientation: landscape) {
}

/*============================================================================== 
    iPhone 5, 5S, 5C and 5SE || 320 x 568 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
    and (max-width: 568px){
}

@media only screen and (min-width: 320px) 
    and (max-width: 568px) and (orientation: portrait) {
}

@media only screen and (min-width: 320px) 
    and (max-width: 568px) and (orientation: landscape) {
}

/*============================================================================== 
    iPhone 6, 6S, 7 and 8 || 375 x 667 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
    and (max-width: 667px){ 
}

@media only screen and (min-width: 375px) 
    and (max-width: 667px) and (orientation: portrait) { 
}

@media only screen and (min-width: 375px) 
    and (max-width: 667px) and (orientation: landscape) { 
}

/*============================================================================== 
    iPhone 6+, 7+ and 8+ || 414 x 736 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 414px) 
    and (max-width: 736px){ 
}

@media only screen and (min-width: 414px) 
    and (max-width: 736px) and (orientation: portrait) { 

}

@media only screen and (min-width: 414px) 
    and (max-width: 736px) and (orientation: landscape) { 
}

/*============================================================================== 
    iPhone X || 375 x 812 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
    and (max-width: 812px){ 
}

@media only screen and (min-width: 375px) 
    and (max-width: 812px) and (orientation: portrait) { 
}

@media only screen and (min-width: 375px) 
  and (max-width: 812px) and (orientation: landscape) { 
}

/*============================================================================== 
    Galaxy S3 || 320 x 640 || Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 320px) 
    and (height: 640px){
}

@media screen and (width: 320px) 
    and (height: 640px) and (orientation: portrait) {
}

@media screen and (width: 320px) 
    and (height: 640px) and (orientation: landscape) {
}

/*============================================================================== 
    Windows Phone 480 x 800 Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 480px) 
    and (height: 800px) {
}

@media screen and (width: 480px) 
    and (height: 800px) and (orientation: portrait) {
}

@media screen and (width: 480px) 
    and (height: 800px) and (orientation: landscape) {

}

/*============================================================================== 
    iPad 1, 2, Mini and Air || 768 x 1024 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 768px) 
    and (max-width: 1024px) {
}

@media only screen and (min-width: 768px) 
    and (max-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 768px) 
  and (max-width: 1024px) and (orientation: landscape) {
}


/*============================================================================== 
    iPad Pro 10.5 || 834 x 1112 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 834px) 
    and (max-width: 1112px){
}

@media only screen and (min-width: 834px) 
    and (max-width: 834px) and (orientation: portrait) {
}

@media only screen and (min-width: 1112px) 
  and (max-width: 1112px) and (orientation: landscape) {
}


/*============================================================================== 
    iPad Pro 12.9 || 1024 x 1366 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 1024px) 
    and (max-width: 1366px){
}

@media only screen and (min-width: 1024px) 
    and (max-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 1366px) 
  and (max-width: 1366px) and (orientation: landscape) {
}


/*============================================================================== 
    Galaxy Tab 2 || 800 x 1280 || Default, Portrait and Landscape
================================================================================ */
@media (min-width: 800px) and (max-width: 1280px) {
}

@media (max-width: 800px) and (orientation: portrait) { 
}

@media (max-width: 1280px) and (orientation: landscape) { 
}

/*============================================================================== 
    Nexus 7 || 601 x 906 || Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 601px) 
    and (height: 906px){
}

@media screen and (width: 601px) 
  and (height: 906px) and (orientation: portrait) {
}

@media screen and (width: 601px) 
    and (height: 906px) and (orientation: landscape) {
}

/*============================================================================== 
    Nexus 9 || 1536 x 2048 || Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 1536px) and (height: 2048px) {
}

@media screen and (width: 1536px) 
    and (height: 2048px) and (orientation: portrait) {
}

@media screen and (width: 1536px) 
    and (height: 2048px) and (orientation: landscape) {
}

/*============================================================================== 
    Kindle Fire HD 8.9 || 1200 x 1600 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 1200px) 
    and (max-width: 1600px){
}

@media only screen and (min-width: 1200px) 
    and (max-width: 1600px) and (orientation: portrait) {
}

@media only screen and (min-width: 1200px) 
    and (max-width: 1600px) and (orientation: landscape) {
}

*{
    box-sizing: border-box;
    margin : 0px;
    padding: 0px;
}

section {
    max-height: 150vh;
    background: #2f2f2b;
    font-family: sans-serif;
}
.header{
    height: 15vh;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}
.header h1{
    color: #fffffd;
    width: 100px;
    height: 100px;
    padding:15px;
    background: #ff7129;
    font-family: 'Langar', cursive;
    position: fixed;
}
h1.allo{
    transition: opacity 0.5s ease 0.5s;
    animation-name: coloor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    
}
@keyframes coloor{
    0%  {background:#ff7129;color: #fffffd;width:100px;margin: 50px;}
    25%  {background:#fffffd;color: #ff7129;width:150px;}
    50%  {background:#ff7129;color: #fffffd;width:100px;margin: 50px;}
    75%  {background:#fffffd;color: #ff7129;width:150px;}
    100% {background:#ff7129;color:#fffffd;width:100px;margin: 50px;}
}
.h2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background: #ff7129;
    margin:auto;
    position: relative;
    
}
.h2-container > div{
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
    color: #fffffd;
    
    
}
.color-container {
    display: flex;
    width:auto;
    justify-content: center;

}
.color-container > div {
    border-radius: 100px;
    background-color:rgb(99, 111, 145);
    align-items: center;
    height:100px;
    width: 100px;
    margin:30px;
}
.color-container > #n1 {
    background-color:rgb(244, 67, 54);
}
.color-container > #n2 {
    background-color:rgb(255, 128, 171);
}
.color-container > #n3 {
    background-color:rgb(106, 27, 154);
}
.color-container > #n4 {
    background-color:rgb(98, 0, 234);
}
.color-container > #n5 {
    background-color:rgb(100, 255, 218);
}
.color-container > #n6 {
    background-color:rgb(255, 179, 0);
}
.container{
    display: flex;
    background-color: #ff7129;
    width: 300px;
    height: 50px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
.rgb{
    font-family:  'Langar', cursive;
    font-size: 25px;
    color: #fffffd;
}
.here{
    display: flex;
    width: 300px;
    height: 50px;
    background-color: #fffffd;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;

}
.aa{
    font-family:  'Langar', cursive;
    

}
.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
}
  
.grid-container > div {
    text-align: center;
    border:none;
    border-radius: 3px;
    height: 200px;
    width: 200px;
    margin:10px;
  }
div.fadeOut{
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
    pointer-events: none;    
}
div.fadeIn{
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
    pointer-events:all;
}
