*{
    box-sizing: border-box;
    margin : 0px;
    padding: 0px;
}

section {
    max-height: 150vh;
    background: #2f2f2b;
    font-family: sans-serif;
}
.header{
    height: 15vh;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}
.header h1{
    color: #fffffd;
    width: 100px;
    height: 100px;
    padding:15px;
    background: #ff7129;
    font-family: 'Langar', cursive;
    position: fixed;
}
h1.allo{
    transition: opacity 0.5s ease 0.5s;
    animation-name: coloor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    
}
@keyframes coloor{
    0%  {background:#ff7129;color: #fffffd;width:100px;margin: 50px;}
    25%  {background:#fffffd;color: #ff7129;width:150px;}
    50%  {background:#ff7129;color: #fffffd;width:100px;margin: 50px;}
    75%  {background:#fffffd;color: #ff7129;width:150px;}
    100% {background:#ff7129;color:#fffffd;width:100px;margin: 50px;}
}
.h2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background: #ff7129;
    margin:auto;
    position: relative;
    
}
.h2-container > div{
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
    color: #fffffd;
    
    
}
.color-container {
    display: flex;
    width:auto;
    justify-content: center;

}
.color-container > div {
    border-radius: 100px;
    background-color:rgb(99, 111, 145);
    align-items: center;
    height:100px;
    width: 100px;
    margin:30px;
}
.color-container > #n1 {
    background-color:rgb(244, 67, 54);
}
.color-container > #n2 {
    background-color:rgb(255, 128, 171);
}
.color-container > #n3 {
    background-color:rgb(106, 27, 154);
}
.color-container > #n4 {
    background-color:rgb(98, 0, 234);
}
.color-container > #n5 {
    background-color:rgb(100, 255, 218);
}
.color-container > #n6 {
    background-color:rgb(255, 179, 0);
}
.container{
    display: flex;
    background-color: #ff7129;
    width: 300px;
    height: 50px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
.rgb{
    font-family:  'Langar', cursive;
    font-size: 25px;
    color: #fffffd;
}
.here{
    display: flex;
    width: 300px;
    height: 50px;
    background-color: #fffffd;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;

}
.aa{
    font-family:  'Langar', cursive;
    

}
.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
}
  
.grid-container > div {
    text-align: center;
    border:none;
    border-radius: 3px;
    height: 200px;
    width: 200px;
    margin:10px;
  }
div.fadeOut{
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
    pointer-events: none;    
}
div.fadeIn{
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
    pointer-events:all;
}
